<html>
	<head>
		<script src="/client.min.js" async></script>
		<link rel="stylesheet" href="/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>@title - Clarity Book</title>
	</head>
	<body>
		<div id="container">
			<label id="mobile_menu" for="mobile_menu_toggle"><span></span></label>
			<input type="checkbox" id="mobile_menu_toggle" />
			<label id="mobile_menu_overlay" for="mobile_menu_toggle"></label>
			<section id="summary">@summary</section>
			<section id="article">
				<article>@body</article>
			</section>
		</div>
	</body>
</html>
